@(title: String)(content: Html)

<html>
<head>
    <title>eNVy LEAGUE</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <table class="baseTable" align="center">
            <tr>
                <td>
                    <a href="@routes.Application.index"><img class="logo" src="@routes.Assets.at("images/logo.png")" /></a>
                    <span align="center" class="caption">Crick-IT</span>
                    <span class="loginSection"><a href="@routes.Application.index">Login</a></span>
                </td>
            </tr>
            <tr>
                <td>@title @content</td>
            </tr>
            <tr>
                <td><span class="footer"><a href="mailto:support@@envyleague.com">Contact</a></span></td>
            <tr>
        </table>
    </body>
</html>
